.logout-nav {
  background: #353535;
  box-shadow: 0px 4px 4px #000;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    padding: 0 3%;
    font-size: 16px;
    font-weight: lighter;
    font-family: "Reem Kufi", sans-serif;
    color: #14ae1a;
    width: 80%;
  }

  .logout-btn {
    border: 1px solid transparent;
    background: transparent;
    color: #6e6e6e;
    font-family: "Reem Kufi", sans-serif;
    font-size: 16px;
    margin: 3px 5px;
    align-self: end;
  }
}

.task-page {
  ul {
    list-style-type: none;
  }
  .todo {
    background: #242424;
    border-bottom: 1px solid #6e6e6e;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    font-size: 18px;

    &:first-child {
      margin-top: 20px;
      border-top: 1px solid #6e6e6e;
    }

    .todo-container {
      display: flex;
      align-items: center;
    }

    .checkbox {
      margin: 10px;
      height: 20px;
      width: 20px;
      border: 2px solid #dc7210;
      border-radius: 50%;

      &:hover {
        cursor: pointer;
      }
    }

    .checked {
      background: #dc7210;
    }

    .completed {
      text-decoration: line-through;
      font-style: italic;
    }

    li {
      padding: 10px;
    }

    .edit-input {
      border: 1px solid transparent;
      background: none;
      color: #14ae1a;
      border-bottom: 2px solid #6e6e6e;
      padding: 5px;
      width: 68%;
      font-size: 16px;
    }
  }

  .btn-container {
    display: flex;
    flex-direction: row-reverse;

    .edit {
      padding: 3px 15px;
    }
    .delete {
      height: 25px;
      width: 25px;
      align-self: center;
      margin-right: 5px;

      &:hover {
        cursor: pointer;
      }
    }
    .edit {
      background: none;
      color: white;
      border: none;
      border-left: 1px solid #6e6e6e;
      height: 45px;
    }
    .delete {
      color: white;
      background: rgb(255, 81, 61);
      border: none;
      border-radius: 50%;
      margin-right: 10px;
    }
  }
}

.add-new-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .add-new-task {
    width: 100vw;
    border-top: 1px solid #6e6e6e;
    border-bottom: 1px solid #6e6e6e;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    background: #2c2c2c;
    padding: 15px 1%;
    color: #14ae1a;
    font-size: 16px;

    &::placeholder {
      color: #6e6e6e;
      font-size: 16px;
    }

    @media (max-width: 600px) {
      width: 100vw;
    }
  }

  .add-btn {
    border: 1px solid #dc7210;
    border-radius: 5px;
    background: #dc7210;
    color: #fafafa;
    font-size: 40px;
    width: 95%;
    padding: 10px 16px;
    margin: 2% 0;
  }
}
